@import "tailwindcss";

:root[data-theme="dark"]{
  /* Text */
  --text-light: #f0f0f0;
  --text-accent: #38bdf8;
  --text-dark: #0f172a;
  /* Backgrounds */
  --bg-main: #0f172a;
  --bg-sub: #1e293b;
  --bg-light: #f0f0f0;
  /* Buttons */
  --button-bg: #6998e4;
  --button-border: #f0f0f0;
  --button-hover: #0ea5e9;
  /* Borders */
  --border-light: #f0f0f0;
  --border-dark: #0f172a;
}
:root[data-theme="light"]{
  /* Text */
  --text-dark: #f0f0f0;
  --text-accent: #38bdf8;
  --text-light: #0f172a;
  /* Backgrounds */
  --bg-light: #0f172a;
  --bg-sub: #6998e4;
  --bg-main: #eeeeee;
  /* Buttons */
  --button-bg: #1e293b;
  --button-border: #0f172a;
  --button-hover: #0ea5e9;
  /* Borders */
  --border-dark: #f0f0f0;
  --border-light: #0f172a;
}
:root[data-theme="debug"]{
  /* Text */
  --text-light: #ff0000;
  --text-accent: #00ff00;
  --text-dark: #0000ff;
  /* Backgrounds */
  --bg-main: #0000ff;
  --bg-sub: #00ff00;
  --bg-light: #ff0000;
  /* Buttons */
  --button-bg: #00ffff;
  --button-border: #ff0000;
  --button-hover: #0ea5e9;
  /* Borders */
  --border-light: #ff0000;
  --border-dark: #0000ff;
}


body {
  background: var(--bg-main);
  color: var(--text-light);
  font-family: Arial, Helvetica, sans-serif;
}
.dark-text{
  color: var(--text-dark);
}
.accent-text{
  color: var(--text-accent);
}
